{% extends 'finance/base.html' %}
{% block content %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Cash</legend>
        <h2>Are you sure you want to delete <b>{{ object.title }}</b></h2>
      </fieldset>
      <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
      <button class="btn btn-outline-info" href="{% url 'home' %}">Cancel</button>
    </form>
  </div>
{% endblock %}
