{% extends 'finance/base.html' %}
{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div style="width:20%;">
    {% if check %}
      <table border = "3" >
        {% for checks in check %}
             <tr>
                <td>{{ checks.title }}</td>
                <td>{{ checks.Check }}</td>
                <td>{{ checks.Account_number }}</td>
                <td style="width:2%"><a href="{% url 'cash-delete' cashs.id %}"><button class="btn"><i class="fa fa-trash"></i></button></td>
             </tr>
        {% endfor %}
      </table>
    {% else %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Sorry!</legend>
          <h2>No Check Available to Delete</h2>
        </fieldset>
        <a href="{% url 'check' %}" class="btn btn-success">Add Check</a>
        <a href="{% url 'home' %}" class="btn btn-outline-info">Go to Home</a>
    {% endif %}
  </div>
{% endblock %}
